@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-family: 'Satisfy', cursive;
}

h1 {
    font-family: 'Playfair Display SC', sans-serif;
}

@media (min-width: 768px) {
    .globe {
        /* position: fixed;
        top: 0;
        z-index: 0; */
    }
}

.mobile {
    
}

/* linear-gradient(115deg, rgba(86, 216, 228,1) 5%,rgba(159, 1, 234,1) 95%) */