@tailwind base;
@tailwind components;
@tailwind utilities;

.fadeOut{
    opacity:0;
    visibility: hidden;
    transition: all 0.5s;
}
.fadeIn{
    opacity:1;
    visibility: visible;
    transition: all 0.5s 0.5s;
}

.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.countryStats-bkg {
    height: 640px;
}
.countryStats-body {
    height: 600px;
}

circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}


/* @media (min-width: 768px) {
}
.mobile {
} */
/* linear-gradient(115deg, rgba(86, 216, 228,1) 5%,rgba(159, 1, 234,1) 95%) */